* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*#region utilities*/

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color: rgb(110, 110, 110);
    font-size: 12px;
    padding: 1rem;

}

body {
    font-family: Freedoka, sans-serif ;
}

.container {
    max-width: 1170px;
    margin: auto;
    width: 80%;
    padding: 3rem 0;
    
    
}

.list-unstyled {
    list-style: none;
}

.p_xy{
    padding: 6rem 3rem;
}

.pb_s{
    padding-bottom: 0.9rem;
}
.p_x_s{
    padding-right: 3.5rem;
    padding-left: 3.5rem;
}

.space_btw{
    justify-content: space-between;
}

.jc_center{
    justify-content: center;
}

.ai_center{
    align-items: center;
}

h2{
    font-size: 2.5rem;
    padding: 3rem 0;
}

.blue_btn{
    color: white;
    background-color:  #0060fe;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.5s;
}

.blue_btn:hover{
    filter: brightness(150%);
}

/*#endregion utilities*/


/*#region header*/

header {
    background-color: white;
    position: sticky;
    z-index: 99990;
    top: 0;
    left: 0;
}

nav {
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    text-align: center;
}

.menu {
    padding: 1rem;
}

.left {
    padding-right: 23rem;
}



header a:hover{
    border-bottom: 1px solid black;
}

/*#endregion header*/

/*#region first*/


h1{
    font-size: xx-large;
    padding-bottom: 2rem;
    font-size: 3.5rem;
}
.hero_image{
    background-color:#b4d0e7 ;
    height: 35rem;
}
.small_col{
    width: 40%;
}
.small_col>p{
    padding-bottom: 2rem;
    padding-left: 0;
}
.small_col>div{
    padding-top: 2rem;
}
#ancor{
    transition: 1s;
}
.big_col{
    width: 60%;
}
.hero_image>.container>.row>.big_col>img{
    height: 23rem
}

/*#endregion first*/


/*#region second*/

input{
    appearance: none;
    border: 2px lightgray solid;
    border-radius: 50%;
    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
}
h2+input{
    border: 4px solid #0060fe;
}
input+input{
    margin-left: 3rem;
}
.equal_col{
    width: calc(100%/3 - 1rem);
    justify-content: center;
    margin-top: 3rem;
}
.head_col{
    justify-content: center;
    padding: 0.5rem 0;
    border: 1px solid lightgray;
    border-bottom: none;
    align-items: center;
    gap: 5px;
}
.main_col{
    border: 1px solid lightgray;
    padding: 1.8rem 1.5rem;
    margin-bottom: 2rem;
}
.card_col{
    height: 100%;
    height: 790px;
}
.card_col>h3{
    padding-bottom: 1rem;
}
.price{
    font-weight: 700;
    padding-bottom: 0.6rem;
}
.period{
    font-weight: 100;
    color: gray;
    padding-bottom: 2.5rem;
}
.info_biz_plan{
    gap: 5px;
    align-items: flex-start;
    padding-bottom: 1rem;
}
.info_biz_plan+.blue_btn{
    margin: 2rem 0;
}
.s_hr{
    margin: 2.5rem 0;
    width: 3rem;
}
hr+h4{
    padding-bottom: 1rem;
}


.large_col>.main_col>.d-flex{
    justify-content: space-between;
    padding-bottom: 0.5rem;
}
.large_col>.main_col>.d-flex+div{
    font-weight: 700;
    padding-bottom: 3rem;
}
 /*#endregion second*/

 /*#region third*/

 .third_section>.container>.row>.big_col>img{
    width: 100%;
}
.third_section>.container>.row>.small_col{
    padding-left: 2rem;
    padding-top: 3rem;
}
.small_col>h3{
    font-size: 2rem;
    padding-bottom: 2rem;
}
.white_btn{
    color:  #000101;
    background-color: #fdfdfd;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 0.9rem;
    border: 1px solid  #000101;
    transition: .5s;
}
.white_btn:hover{
    color: #fefeff;
    background-color: black;
    border: 1px solid black;
    
}

 /*#endregion third*/

 /*#region four*/


 
 .operations {
    padding-top: 5rem;
    padding-bottom: 9rem;
 }

 .card{
    width: calc(100%/3);
    padding-bottom: 3rem;
}
.card>img{
    width: 100%;
}

.card>h4 {
    font-size: 1.3rem;
    padding-left: 2rem;
    padding: 2rem 2rem;
}

/*#endregion four*/

/*#region five*/


.py-3 {
    padding-top: 0;
    padding-left: 2rem;
    padding-bottom: 7rem;
}

.clients{
    width:calc(100%/3);
    background-color: rgb(241, 240, 240);
    
}
.clients>img{
    width: 50%;
    padding: 2.5rem 0;
}
.client{
    width: calc(100%/2);
    aspect-ratio: 1;
    justify-content:center;
    align-items: center;
    
}
.client>img{
    filter: invert(1);
    width: 50%;
    
}
.free_trial{
    background-color: #b4d0e7;
    
}
.free_trial>div{
    justify-content: space-between;
}


.clients>img, p {
    padding-left: 2rem;
    padding-right: 2rem;
}

.white_btn_second{
    color:  #000101;
    background-color:  #fefeff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 0.9rem;
    transition: .3s;
}


.white_btn_second:hover{
    color:  #fefeff;
    background-color: black;
    border: 1px solid black;
}


.bordeaux {
    color: rgb(124, 0, 48);
    padding: 4rem 0;
    padding-left: 8rem;
    
}

.c_hr {
    width: 4rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
 
/*#endregion five*/


/*#region six*/

.w-75 {
    width: 75%;
    margin: 0 auto;
}

.p-4 {
    padding: 1rem;
}

.questions h3 {
    padding-bottom: 2.5rem;
    padding-left: 2rem;
}

.question>p{
    font-weight: 700;
}

.questions-content {
    padding: 1rem 0;
}

.questions-content {
    border-top: 1px solid var(--drop-dark);
    padding: 1rem 0;
}

.questions .question-content:last-child {
    border-bottom: 1px solid var(--drop-dark);
}

.questions-content>.question>i {
    padding-right: 1rem;
}

.questions {
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
}

.questions-content:hover .answere {
    display: block;
    padding: 2rem;
}

.questions-content:hover i {
    rotate: 180deg;
    padding-left: 1rem;
}

.answere {
    display: none;
}

.question {
    border-bottom: 1px solid lightgray;
    padding: 2rem 0;

}


/*#endregion six*/

/*#region footer*/

footer {
    background-color: black;
    color: white;
    padding: 1rem 0;
}

.col-2 {
    width: calc(100%/12 *2);
}

.footer-top li {
    list-style-type: none;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding-top: 0.7rem;
}

.footer-top {
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 6rem;
    
}

.footer-bottom>.language {
    border-top: 1px solid white;
    width: 10%;
    padding-top: 2rem;
    gap: 0.5rem;
    align-items: center;
}

.footer-bottom {
    font-size: 0.7rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/*#endregion footer*/


