* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*utilities*/

.d-flex {
    display: flex;
}

a {
    text-decoration: none;
    color: rgb(110, 110, 110);
    font-size: 13px;
    padding: 1rem;

}

body {
    font-family: Open sans;
}



/*header*/

nav {
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-align: center;
}

.menu {
    padding: 1rem;
}

.left {
    padding-right: 23rem;
}

.start {
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
}

